PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27017/portfolio
# ou MongoDB Atlas :
# MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/portfolio

# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=votre@gmail.com
SMTP_PASS=votre_app_password

# Destinataire des messages de contact
CONTACT_TO=kpedzibernard@gmail.com

# Frontend URL (pour CORS)
CLIENT_URL=http://localhost:5173
